<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %> | Awesome App</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<nav>
    <ul>
        <li>
            <a href="/"> Home </a>
        </li>
        <li>
            <a href="/about"> About </a>
        </li>
    </ul>
</nav>



<div class="jumbotron">
    <div class="container">
        <h1>This is Great x2!</h1>
        <h2>About page</h2>
        <pre>
            <%= content %>
        </pre>
        <p>
            My first ExpressJs web application!
        </p>
    </div>
</div>

</body>
</html>